.popover {
  z-index: 200;
  background-color: var(--primary-white);
  border: 1px solid var(--primary-border-color);
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.container {
  width: 200px;
}