* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100%;
}

:root {
  --primary-white: #fff;
  --primary-gray-100: #f0f0f0;
  --primary-gray-200: #e0e0e0;
  --primary-gray-300: #d0d0d0;
  --primary-gray-400: #c0c0c0;
  --primary-gray-500: #b0b0b0;
  --primary-gray-600: #a0a0a0;
  --primary-gray-700: #909090;
  --primary-border-color: #e0e0e0;
  --primary-highlight-border-color: #000;
  --primary-text-color: #333;
  --primary-success-color: #28a745;
  --primary-success-hover-color: #218838;
  --primary-warning-color: #ffc107;
  --primary-warning-hover-color: #e0a800;
  --primary-error-color: #dc3545;
  --primary-error-hover-color: #c82333;
}
